/* ===========================
--- Team
============================ */

.team-box {
	padding: 20px 0;
}

.team-box img {
	margin-bottom: 20px;
}

.team-box h5 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #666;
}

.team-box h6 {
	color: #888;
}

.cbp .cbp-item {
    z-index: 2;
    display: block;
    width: 240px; /* default width for blocks */
    height: 250px; /* default height for blocks */
}

.cbp-filter-item {
	border-radius: 3px;
}
.cbp-l-filters-alignLeft .cbp-filter-item {
    font: 600 12px/29px "Open Sans", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.cbp-l-grid-team-name {
    /* @editable properties */
    font: 700 17px "Open Sans", sans-serif;
    color: #456297;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 3px;
}

.cbp-l-grid-team-position {
    /* @editable properties */
    font: italic 400 16px "Open Sans", sans-serif;
    color: #888888;
    text-align: center;
	font-style: normal;
}
.cbp-popup-singlePage .cbp-l-member-name {
    /* @editable properties */
    font: bold 16px/16px "Open Sans", sans-serif;
    margin-bottom: 6px;
}
.cbp-popup-singlePage .cbp-l-member-position {
    /* @editable properties */
    font: 400 14px "Open Sans", sans-serif;
}
.cbp-popup-singlePage .cbp-l-member-desc {
    /* @editable properties */
    font: 400 16px "Open Sans", sans-serif;
    margin-top: 15px;
	line-height: 1.6em;
}